<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redhat.rpc.mapper.MailMapper">
	<!-- 获取邮件 -->
	<select id="getMail" parameterType="int" resultType="mail">
		SELECT *
		FROM tb_mail
		WHERE receiveId = #{userId}
	</select>

	<!-- 发送邮件 -->
	<insert id="sendMail" parameterType="mail">
		INSERT INTO
		tb_mail (type,
		sendName, receiveId, content, date)
		VALUES (#{type}, #{sendName},
		#{receiveId}, #{content}, #{date})
	</insert>
</mapper>