<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redhat.login.mapper.ShieldMapper">
	<!-- 是否存在屏蔽词 下面%连接防止注入 -->
	<select id="hasShield" parameterType="String" resultType="boolean">
		SELECT COUNT(id)
		FROM tb_shield
		WHERE word LIKE CONCAT(CONCAT('%', #{username}), '%')
		OR #{username} LIKE CONCAT(CONCAT('%', word), '%')
		LIMIT 1
	</select>
</mapper>